/* .wrapper{
    display: flex;
} */

.item{
    width: 100px;
    height: 100px;
}

.item:hover{
    border-radius: 50%;
}

.warna1{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(rgb(88, 27, 27),yellow);
    padding: 19px;
    margin: 100px;
}

.warna1:hover{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(rgb(97, 28, 28),rgb(139, 61, 61),rgb(44, 23, 23));
    padding: 19px;
    margin: 100px;
}
.warna2{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(rgb(88, 27, 27),yellow);
    padding: 19px;
    margin: 100px;
    position: relative;
}

.warna2 :hover{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(rgb(97, 28, 28),rgb(139, 61, 61),rgb(63, 63, 141));
    padding: 19px;
    margin: 100px;
    border-radius: 100px;
    position: block;
}

.warna3{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(rgb(71, 71, 11),yellow);
    padding: 19px;
    margin: 100px;
}

.warna3:hover{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(rgb(71, 71, 11),yellow);
    padding: 19px;
    margin: 100px;
}